@import url("admin.css");

/* ========================================================================== */
/* CSS Styles                                                                 */
/* ========================================================================== */
.group{border: 1px solid #eee}
.schedule{width: 100%; margin-top: 10px; font-size: 11px; background: #fafafa; border: 1px solid #eee}
	.schedule .menu-sports{
		padding: 10px 0;
	}
	.schedule th{background: #fcfcfc; color: #333; padding-bottom: 3px; border-bottom: 1px solid #f5f5f5}
	.schedule td{padding: 0 4px 2px 4px}
	.schedule tr:nth-child(odd){ background: #DFECF7}
		.schedule tr:nth-child(even){ background-color:#fbfbfb}
	.schedule .subtitle{
		color: #fff;
		text-shadow: 0.1em 0.1em #A8231E;
		font-size: small;
		font-weight: bold;
		padding-left: 10px;
		padding-top: 3px;
		background: url('../images/back-menu-bar.png') repeat-x #495677;
	}
	.schedule .subtitle-2{
		color: #fff;
		font-size: small;
		font-weight: bold;
		padding-left: 10px;
		padding-top: 3px;
		background: url('../images/back-black-gradient.jpg') repeat-x bottom left #495677;
	}
	.schedule .subtitle-3{
		color: #222;
		font-size: small;
		font-weight: bold;
		padding-left: 10px;
		padding-top: 3px;
		background: #FFBF00;
	}
	.schedule .notify{text-align: center; padding: 5px; font-size: medium}
	.schedule a{
		color: #fff;
		font-weight: bold;
		position: relative;
		top: 2px;
		margin-right: 5px;
		float: right;
		padding: 1px 15px 1px 5px;
		background: url('../images/plus2.png') no-repeat right center #333;
	}