/* ========================================================================== */
/* CSS Reset                                                                  */
/* ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form,
label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;					padding: 0;
	border: 0;					outline: 0;
	vertical-align: baseline;		background: transparent;
}
html, body {height: 100%; margin-top: 10pt;}
body {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fff;
}
ol, ul {	list-style: none;}
blockquote, q { quotes: none;}

:focus {	outline: 0;}
ins {	text-decoration: none;}
del {	text-decoration: line-through;}
p,h1,h2,h3 {	margin-bottom: 1em;}

/* ========================================================================== */
/* CSS Layouts                                                                */
/* ========================================================================== */
table table{width: 100%;}
#content{width: 100%; margin-bottom: 20px; border-bottom: 3px solid #333}
#content td{padding: 4px 0;}
	#content .photo{padding: 4px;}
#header{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
	#header td{
		height: 20px;
	}
#wp-doc{

	width: 800px;
}
/* ========================================================================== */
/* CSS Classes                                                                */
/* ========================================================================== */
.label{font-size: 11px}
.line{color: #fff; background: #21689E}
.logo{
	width: 150px;
	height: 150px;
}
.name{padding: 5px 0}
.photo{width: 100px; padding-right: 10px;}
	.photo img{width: 100px; height: 100px; padding: 2px; border: 1px solid #ccc}
.subtitle{color: #fff; background: #21689E}